{% extends "e_learning_application/templatePage.html" %}


{% block contentSect %}
<div class="container mt-5">
    <h2 class="text-center">Chat Room: {{ course.courseTitle }}</h2>
    <div id="chat-messages" class="border p-3" style="height: 300px; overflow-y: scroll;"></div>
    <input id="chat-input" type="text" class="form-control mt-2" placeholder="Type your message...">
    <div class="mt-3 text-center">
        <button id="send-btn" class="btn mt-2 genericButton">Send</button>
    </div>
</div>

<script>
    console.log("JS Loaded!");
</script>

<script>
    const roomName = "{{ course.courseID }}";
    const userName = "{{ request.user.username }}";
    const chatSocket = new WebSocket(
    'ws://' + new URL(window.location.href).hostname + ':8001/ws/chat/' + roomName + '/'
    );
    console.log("Checking userName")
    console.log(userName)

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector("#chat-messages").innerHTML += 
            `<p><strong>${data.sender}:</strong> ${data.message}</p>`;
    };

    document.querySelector("#send-btn").onclick = function() {
        const messageInput = document.querySelector("#chat-input");
        const message = messageInput.value;
        chatSocket.send(JSON.stringify({"message": message}));
        messageInput.value = "";
    };
</script>
{% endblock %}
