
{% load static %}

<section id="footerSect">
    <hr class="footerLine">
    <div class="footer">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3 col-6">
                    <h4 class="footerTitle">Links</h4>
                    <ul class="list-unstyled">
                        <li><a class="footerLinks" href="#">About us</a></li>
                        <li><a class="footerLinks" href="#">Terms & Conditions</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-6">
                    <h4 class="footerTitle">Support</h4>
                    <ul class="list-unstyled"> 
                        <li><a class="footerLinks" href="#">Troubleshooting</a></li>
                        <li><a class="footerLinks" href="#">Help</a></li>
                        <li><a class="footerLinks" href="#">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-6">
                    <h4 class="footerTitle">Contact Information</h4>
                    <ul class="list-unstyled">
                        <li><a class="footerLinks" href="#">461 Clementi Rd, Singapore 599491</a></li>
                        <li><a class="footerLinks" href="mailto:MathDoodle@website.com">HiLearners@website.com</a></li>
                        <li><a class="footerLinks" href="tel:+6587654321">+65 9876 5432</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-6">
                    <h4 class="footerTitle">Connect</h4>
                    <div class="social">
                        <a class="footerLinks footerEmojis" href="https://www.facebook.com"><i class='bx bxl-facebook-circle'></i></a>
                        <a class="footerLinks footerEmojis" href="https://www.instagram.com"><i class='bx bxl-instagram-alt'></i></a>
                        <a class="footerLinks footerEmojis" href="https://x.com"><i class='bx bxl-twitter'></i></a>
                        <a class="footerLinks footerEmojis" href="https://www.tiktok.com"><i class='bx bxl-tiktok'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="final-msg text-center mt-2 pb-3">
        <p>© 2025 HiLearners. All rights reserved.</p>
    </div>
</section>


    <!-- Bootstrap links -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
    