{% extends "./templatePage.html" %}
{% load bootstrap4 %}
{% load static %}
{% block contentSect %} 

<div class="container-fluid mt-5 pb-5 text-center ">
    <h1>Your created courses</h1>
    
</div>


{% if teacher_courses %}
    <div class="container-fluid">
        <div class="row justify-content-center"> 
            {% for course in teacher_courses %}
                <div class="col-md-4 mb-4 d-flex justify-content-center">
                    <div class="card courseCard" >
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ course.courseTitle }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary pt-1 "> Created by: {{ course.teacherID.userID.user.username }} </h6>
                            <h6 class="card-subtitle mb-2 text-body-secondary pt-1 "> Created date: {{ course.courseCreatedDate }} </h6>
                            <p class="card-text"> {{ course.courseDescription }} </p>
                            <a href="{% url 'course_content' course.courseID %}" class="card-link btn courseEditBtn"> View/edit course </a>
                            <a href="{% url 'delete_course' course.courseID %}" class="card-link btn courseEditBtn"> Delete course </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}


<div class="container-fluid mt-5 pb-5 d-flex justify-content-center d-none d-md-flex">
    <div class="createCourseBtnSect">
        <a href="{% url 'create_course' %}" class="btn createCourseBtn d-none d-md-inline-block">Create new course</a>
    </div>
    <div>
        <a href="{% url 'add_content' %}" class="btn createContentBtn d-none d-md-inline-block">Add in new learning material</a>
    </div>
</div>
<div class="d-md-block d-lg-none d-flex flex-column align-items-center">
    <a href="{% url 'create_course' %}" class="btn createCourseBtn d-block mb-3">Create new course</a>
    <a href="{% url 'add_content' %}" class="btn createContentBtn d-block">Add in new learning material</a>
</div>



{% endblock %}

